.home-button a {
  background-color: white;
  // font-size: 3em;
  font-family: 'Open Sans', 'sans-serif';
  float: right;
  overflow: hidden;
  font-weight: lighter;
  color: black;
  transition: .5s ease;
  font-size: 3em;
  padding: 1.6vh;
  p {
  font-size: 2em;

  }
  // height: 3vh;
  // width: 3vh;
  @media (max-width: 700px) {
    font-size: 3.8em;
  }
  &:hover {
    color: rgba(0, 0, 0, 0.4);
  }
}
