.footer-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: white;
  width: 100vw;
  i {
    font-size: x-large;
    color: #333;
    //color: #f74a89;
    transition: 0.7s ease;
    -webkit-text-stroke: 0.3px white;
    &:hover {
      color: rgba(0, 0, 0, 0.4);
      transform: rotate(-180deg);
    }
  }
}

.footer-item {
  //font-family: 'Maven Pro', 'sans-serif' !important;
  align-self: auto;
  align-items: flex-start;
  margin: 4vh auto;
}
