// .navbar {
//   height: 5vh;
//   top: 0;
//   position: right;
// }

// .navbar-link a {
//   text-decoration: none;
// }


.about-me {
  text-align: center;
  margin-top: 16vh;
  .bold {
    font-weight: 400;
    font-size: 2.5em;
  }
}
