.project-card {
  width: 70vw;
  overflow: hidden;
  transition: transform .5s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  &:hover {
    transform: scale(1.05);
  }
  &--inverted:hover {
    transform: scale(.96);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .8s ease;
  }
  &--inverted {
    transition: transform .5s ease;
  }
  &:hover img {
    transform: scale(1.15);
  }
}

.logo {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.8em !important;
}

// .projects-container {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   p {
//     margin-bottom: 0 !important;
//   }
// }

// new
// .project-container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   width: 80vw;
// }

// .project-item {
//   text-align: center;
//   margin-top: 7em;
// }

// .text-rotate {
//   font-family: 'Open Sans', 'sans-serif';
//   /* Safari */
//   -webkit-transform: rotate(90deg);
//   /* Firefox */
//   -moz-transform: rotate(90deg);
//   /* IE */
//   -ms-transform: rotate(90deg);
//   /* Opera */
//   -o-transform: rotate(90deg);
// }
