@import 'about.scss';
@import 'index.scss';
@import 'projects.scss';
@import 'sidebar.scss';
@import 'scroll.scss';
@import 'buttons.scss';
@import 'keyframes.scss';
@import 'footer.scss';

html { font-size: 100%; }

body {
  background-color: #FFE9F1;
  color: #333;
  // padding: 18vh 1rem;
  text-align: center;
  font-size: 0.75em;
  height: 100vh;
  margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1 {
  font-family: 'Alice','serif';
  letter-spacing: 0.15em;
  font-size: 5em;
}

p {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  font-size: 2em;
  margin: 0px;
}
