<div class="about-me scene_element scene_element--fadein">

  <h1>about me</h1>

  <p class="bold">Hello, My name is Lucia. Prior to becoming a developer, I completed a BComm in Information Systems from McGill University and worked in marketing. I also like art, design, and history.</p>

  <%= tag :img, :src => "/images/Lucia2.JPG", :class => "avatar" %>

  <p>I changed my career and gratuated from the Le Wagon coding bootcamp. Le Wagon is a 9-week full-stack web development bootcamp, teaching students a multitude of developer skill. During Le Wagon, I created two complete web applications in a team of three. I was  particularly attracted by the design of the applications, working primary on the front-end code for them. My strength is that I can understand the back-end and front-end of the applications, which, combined with my previous marketing experience, gives me a strong understanding of users' needs and how to meet them. Here is a summary of what I've learned at Le Wagon: </p>
  <p> Ruby | Rails & Middleman frameworks | Object Oriented Programming | Databases & SQL | HTML5 & CSS3 | Bootstrap library | git | command line | Deployment & Heroku | Sketch | Collaboration with other developers </p>
</div>

