<div class="about-me scene_element scene_element--fadein">

  <h1>about me</h1>

  <p class="bold">Hello, My name is Lucia. Prior to becoming a developer, I completed a BComm in Information Systems from McGill University and worked in marketing. I also like art, design, and history.</p>

  <%= tag :img, :src => "/images/Lucia2.JPG", :class => "avatar" %>

  <p>In 2017, I changed my career and gratuated from the Le Wagon coding bootcamp. <a href="https://www.lewagon.com/">Le Wagon</a> is a 9-week full-stack web development bootcamp, teaching students a multitude of developer skill. During Le Wagon, I created two complete web applications in a team of three. I was  particularly attracted by the design of the applications, working primary on the front-end code for them. My strength is my knowledge of both the back-end and front-end of the applications, which, combined with my previous marketing experience, gives me a strong understanding of users' needs and how to meet them.</p>

  <p class="bold skills-summary">Here is a summary of what I've learned at Le Wagon: </p>
    <% skills_one = ["Ruby", "Rails & Middleman frameworks", "Object Oriented Programming", "Databases & SQL", "HTML5 & CSS3", "Bootstrap library"] %>
    <% skills_two = ["git", "command line", "Deployment & Heroku", "Sketch", "Collaboration with other developers"] %>

  <div class="skills-list">
    <div>
      <% skills_one.each do |x| %>
        <div class="skills">
          <i class="fa fa-angle-right" aria-hidden="true"></i><%= " #{x}" %>
        </div>
      <% end %>
    </div>
    <div>
      <% skills_two.each do |x| %>
        <div class="skills">
          <i class="fa fa-angle-right" aria-hidden="true"></i><%= " #{x}" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

