---
title: "Lucia"
---

<div class="about-me-index scene_element scene_element--fadein">
  <h1>Lucia Mkhitarova</h1>
  <p class="bold">Full-stack web developer in Montréal.</p>
  <p>Ruby on Rails | HTML5 | CSS3 | JS</p>
<!--   <%= link_to "", '/projects.html', class: "arrow" %> -->

<!--   <a href='/about.html'><div class="arrow" /></a>
 --></div>




  <!-- <div class="arrows"></div> -->
