<div class="about-me">
  <h1>projects</h1>
<!--     <div class="project-container"> -->
<!--       <div class="project-item"> -->
  <p class="logo" style="color: #ff2a6b">GlobeGetter</p>
  <a href="http://www.globe-getter.com/"><img class="project-card" src="/images/GlobeGetter.png" alt="GlobeGetter"></a>
  <p>GlobeGetter is an online application which our team at Le Wagon created in two weeks. It is a tool for travelers where users can set individual travel goals in order to fulfill them over many years. User can first set a specific goal of the number of countries they're like to visit over a certain number of years, and then update their vision with the specific countried they'd like to go, as well as tick off where they've already been. On top of this, users can see the progress of their goal, important information about a specific country, and as well have an ability to add notes and reviews to each country.</p>
  <p class="bold">This was my group's final and major project at Le Wagon, for which I took the lead in front-end design, first selecting the logo, colours, and fonts, creating the mock-ups, and finally coding the product. The challenge with GlobeGetter was that all the pages are so different, meaning that it was more difficult to create a design that flowed well page-to-page.</p>
<!--       </div> -->
<!--       <div class="project-item"> -->
  <p class="logo" style="margin-top: 10vh; color: #68C6FF">TaskIt!</p>
  <a href="https://alexolthofftaskit.herokuapp.com/"><img class="project-card" src="/images/TaskIt.png" alt="TaskIt!"></a>
  <p>TaskIt! is an online marketplace which my our team at Le Wagon created in five days. The platform works by allowing students to apply work jobs. Employers of startups and small companies looking to hire can post their company and internship information online. Students looking to apply for internships to do so. Students can create profile's similar to those on LinkedIn, and can browse internships, and apply easily by sending their application straight to the employer's inbox.</p>
  <p class="bold">This was our group's first project at Le Wagon, during which we learned to collaborate together on GitHub and work in a team as developers. I took the lead on the front-end design, choosing and creating the logo, fonts, colours, and overall layout of the site. On this project I learned to create a consistent theme, which was key, since the site has a number of pages with similar information, which needed to be styled in a continuous theme.</p>
<!--       </div> -->
<!--     </div> -->
</div>
